@charset 'utf-8';

// variables
$gitHubColor: #333;
$twitterColor: #1da1f2;
$telegramColor: #0088cc;

$blogImage: '/image/cow-progressive.jpg';
$projectImage: '/image/fly-progressive.jpg';
$serviceImage: '/image/bird-progressive.jpg';

@import './bulma.scss';

// custom styles
.is-sticky-top {
	top: 0;
	position: sticky;
}
.is-sticky-top-section {
	top: 3.25rem;
	position: sticky;
	z-index: 99;
}
.full-height {
	min-height: 100vh;
	justify-content: space-between;
	flex-direction: column;
}
.tile-background {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.tile-github {
	background-color: $gitHubColor;
}
.tile-twitter {
	background-color: $twitterColor;
}
.tile-telegram {
	background-color: $telegramColor;
}
.flex-centre {
	justify-content: center;
	align-items: center;
}
.tile-blog {
	background-image: url($blogImage);
}
.tile-project {
	background-image: url($projectImage);
}
.tile-service {
	background-image: url($serviceImage);
}
.card {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card-image {
	height: 1rem;
}
.slide-show {
	white-space: nowrap;
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
}
.modal-alt {
	margin-top: 0.3rem;
}
